<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    RewriteRule ^index\.html$ - [L]
    
    # Routing untuk Backend Laravel di Hostinger
    RewriteRule ^api/(.*)$ backend/public/api/$1 [L]
    RewriteRule ^sanctum/(.*)$ backend/public/sanctum/$1 [L]
    RewriteRule ^storage/(.*)$ backend/public/storage/$1 [L]

    # Routing untuk Frontend React (dan folder lain seperti dino-runner)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /index.html [L]
</IfModule>
